<div class="container mt-5">
  <h2>Formulario de contacto</h2>
  <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" name="nombre" ngModel>
    </div>
    <div class="form-group">
      <label>Asunto</label>
      <input type="text" class="form-control" name="asunto" ngModel>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="form-group">
      <label>Mensaje</label>
      <textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
